{% extends 'root/index.html.twig' %}

{% block content %}
    <h1>Nazwisko: {{ lastname }}</h1>
    <h1>Imię: {{ firstname }}</h1>

    <div class="news-wrapper">
        <h1>Moje dzieci:</h1>
        {% for child in children %}
            <div class="news-content">
                <p class="title"> {{ child.firstname }}</p>
                <p class="content"> {{ child.lastname }}</p>
                <p class="content"> Grupa: {{ child.grupa }}</p>
            </div>
        {% endfor %}
    </div>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('admin_panel') }}">Panel administratora</a>
    {%endif%}


{% endblock %}

{% block style %}
    <style>
        .avatar{
            width:50px;
        }
    </style>
{% endblock %}